# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
apps/*/dev-*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env.example
!.env.*.example

# local Firebase credentials
service account*.json
service-account*.json
*service account*.json
*service-account*.json
apps/dispatcher-web-app/city-rescue-dispatch-firebase-adminsdk-fbsvc-1c0b907e1b.json

# local Expo app config overrides
apps/civilian-mobile-app/app.json
apps/responder-mobile-app/app.json

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

e2b.local.toml
e2b.*.local.toml

**/.react-router
apps/civilian-mobile-app/caches/*

# local reference media
/flow.png
/resources.gif
/RESQ ARCHITECTURE.docx
/SPUP-SYSTEM.docx
