# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-*-check/
.expo-*-check-*/
.expo-export-*/
dist/
web-build/
expo-env.d.ts

# Native
/ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.log

# Metro
.metro-health-check*
.metro-virtual/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.env

caches/*